body {
  background-color:#ccffff;
}

h1 {
  color:pink;
  font-family:helvetica;
  background-color:purple
}

h1 {
  color: black;
  background: white;
  font-family:"Gill Sans";
  text-transformation: uppercase;
}

p {
  color:blue;
  padding:10px;
}

#highlight {
  color: orange;
  background-color: green;
}

.top{
  background-color: red;
  float: left;
}

img {
  border: 5px solid #00cccc;
  margin-left: 100px;
}
